<h2><b><center>test_pad</b></center></h2>
<body>
<large>
<br>date/time: 2019/11/02 14:12:57<br>
<br>type: SMD Pin
<br>units: mils
<br>decimal places: 1
<br><br><u>Hole data</u><blockquote>
geometry: None
<br><u>Design layer pads</u>
<blockquote>Layer: BEGIN LAYER
<table border=1>
<tr>
<th>Pad</th>
<th>Geometry</th>
<th>Width</th>
<th>Height</th>
<th>X offset</th>
<th>Y offset</th>
</tr>
<tr>
<td>Regular</td>
<td>Round</td>
<td>15.0</td>
<td>15.0</td>
<td>0.0</td>
<td>0.0</td>
</tr>
<tr>
<td>Thermal</td>
<td>None</td>
</tr>
<tr>
<td>Anti</td>
<td>None</td>
</tr>
<tr>
<td>Keep Out</td>
<td>None</td>
</tr>
</table><br>
</blockquote>
<blockquote>Layer: ADJACENT LAYER
<table border=1>
<tr>
<th>Pad</th>
<th>Geometry</th>
<th>Width</th>
<th>Height</th>
<th>X offset</th>
<th>Y offset</th>
</tr>
<tr>
<td>Regular</td>
<td>None</td>
</tr>
<tr>
<td>Thermal</td>
<td>None</td>
</tr>
<tr>
<td>Anti</td>
<td>None</td>
</tr>
<tr>
<td>Keep Out</td>
<td>None</td>
</tr>
</table><br>
</blockquote>
<br><u>Mask layer pads</u>
<blockquote>
<table border=1>
<tr>
<th>Layer</th>
<th>Geometry</th>
<th>Width</th>
<th>Height</th>
<th>X offset</th>
<th>Y offset</th>
</tr>
<tr>
<td>SOLDERMASK_TOP</td>
<td>Round</td>
<td>18.0</td>
<td>18.0</td>
<td>0.0</td>
<td>0.0</td>
</tr>
<tr>
<td>SOLDERMASK_BOTTOM</td>
<td>Round</td>
<td>18.0</td>
<td>18.0</td>
<td>0.0</td>
<td>0.0</td>
</tr>
<tr>
<td>PASTEMASK_TOP</td>
<td>Round</td>
<td>18.0</td>
<td>18.0</td>
<td>0.0</td>
<td>0.0</td>
</tr>
<tr>
<td>PASTEMASK_BOTTOM</td>
<td>Round</td>
<td>18.0</td>
<td>18.0</td>
<td>0.0</td>
<td>0.0</td>
</tr>
<tr>
<td>FILMMASK_TOP</td>
<td>Round</td>
<td>18.0</td>
<td>18.0</td>
<td>0.0</td>
<td>0.0</td>
</tr>
<tr>
<td>FILMMASK_BOTTOM</td>
<td>Round</td>
<td>18.0</td>
<td>18.0</td>
<td>0.0</td>
<td>0.0</td>
</tr>
<tr>
<td>COVERLAY_TOP</td>
<td>Round</td>
<td>18.0</td>
<td>18.0</td>
<td>0.0</td>
<td>0.0</td>
</tr>
<tr>
<td>COVERLAY_BOTTOM</td>
<td>Round</td>
<td>18.0</td>
<td>18.0</td>
<td>0.0</td>
<td>0.0</td>
</tr>
</table><br>
</blockquote>
<br><u>Usage options</u><blockquote>
Suppress unconnected internal pads: No
<br>Lock layer span: No
</body>
